aenum==3.1.8
appdirs==1.4.4
beautifulsoup4==4.10.0
bidict==0.21.4
bs4==0.0.1
case-conversion==2.1.0
certifi==2021.10.8
cffi==1.15.0
chardet==3.0.4
click==8.0.3
clipboard==0.0.4
colorama==0.4.4
colour==0.1.5
cryptography==36.0.1
DateTime==4.3
decorator==4.4.2
dill==0.3.4
entrypoints==0.3
flake8==3.7.7
Flask==1.0.2
Flask-SocketIO==5.1.1
fuzzywuzzy==0.18.0
html-text==0.5.2
idna==2.10
imageio==2.14.1
imageio-ffmpeg==0.4.5
inflect==5.4.0
itsdangerous==2.0.1
Jinja2==3.0.3
lxml==4.7.1
MarkupSafe==2.0.1
maybe-else==0.2.1
mccabe==0.6.1
moviepy==1.0.3
msoffcrypto-tool==5.0.0
numpy==1.22.2
olefile==0.46
pandas==1.4.0
parsedatetime==2.6
Pillow==9.0.1
prettierfier==1.0.3
proglog==0.1.9
pycodestyle==2.5.0
pycparser==2.21
pydub==0.25.1
pyflakes==2.1.1
PyPDF2==1.26.0
pyperclip==1.8.2
pysubtypes==0.3.18
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==0.10.1
python-engineio==4.3.1
python-socketio==5.5.1
pytz==2021.3
PyYAML==5.3
regex==2022.1.18
requests==2.24.0
Send2Trash==1.8.0
simplejson==3.17.6
six==1.16.0
soupsieve==2.3.1
tabulate==0.8.9
termcolor==1.1.0
tqdm==4.62.3
urllib3==1.25.11
Werkzeug==2.0.2
XlsxWriter==3.0.2
zope.interface==5.4.0
